html, body {
  height: 100%;
}
.page-container {
  height: 100%;
}

.row {height: 1000px}

.navbar {
  background-color:rgb(40, 62, 74);
  margin-bottom: 0;
  border-radius: 0;
}

.sidenav {
  margin-top:50px;
  background-color:rgb(40, 62, 74);
  color: white;
  height: 100%;
}

.main {
  margin-top:50px;
  background-color:rgb(245, 245, 244);
  height: 100%;
}

footer {
  background-color: rgb(40, 62, 74);
  color: white;
  padding-top: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
        height: auto;
        padding: 15px;
      }
  .row.content {height:auto;} 
}



#map {
  height: 400px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
